html {
    box-sizing: border-box
  }
   
  *, 
  *::before,
  *::after { 
    box-sizing: inherit;
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
  }

body {
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    color: green;
    font-size: 50px;
}